body {
    font-family: Arial, sans-serif;
    background-color: #f4f1ea;
    color: #333;
    margin: 0;
    padding: 40px;
}

main {
    max-width: 1000px;
    margin: auto;
}

h1 {
    text-align: center;
}

main > p {
    text-align: center;
    margin-bottom: 30px;
}

section {
    margin-bottom: 30px;
}

button {
    padding: 12px 20px;
    margin: 5px;
    border: none;
    border-radius: 8px;
    background-color: #333; 
    color: white;
    cursor: pointer;
 }

button:hover {
    opacity: 0.8;
}

#storyTitle {
    text-align: center;
    margin-bottom: 20px;
}

#story {
    display: flex;
    gap: 20px;
}

#story div {
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    flex: 1;
}

#story img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 8px;
}

#story h3 {
    margin-bottom: 5px;
}